*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}

body{
 max-width: 425px;
 background-image: url("../img/background.jpg");
}

h2{
    font-family: 'Roboto';
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    height: 200px;
    width: 100%;
    padding: 20px 0px;
    background: rgb(148, 147, 147);
}

header img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 250px;
}

.button{   
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-family: 'Roboto';
    border: 1px solid black;
    font-size: 20px;
    border-radius: 50px;
    margin-left: 5px;
    margin-top: 5px;
    width: 150px;
    height: 35px;
}

.button:hover{
    transition: (5.0);
    background-color: rgba(255, 255, 255, 0.3);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.banner img{
    display: none;
}

#about{
    display: none;
}

.curiosidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;    
}

#curiosidades{
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
    width: 100%; 
}

.curiosidades p{
    display: flex;
    width: fit-content;
    padding: 2px 21px;
    margin-bottom: 10px;
}

.cards{
    display: flex;
    flex-wrap: wrap;   
    width: fit-content;
    height: fit-content;
    background-color: aliceblue; 
    border: 1px solid black;
    border-radius: 10px;
    margin: 30px 30px;
    box-shadow: 0px 10px 10px black;  
}

.cards img{
    display: flex;
    width: 100%;
    border-radius: 10px;
}

.cards h3{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    text-align: center;
    height:auto;
    justify-content: center;
    font-family: "Lobster";
    margin-bottom: 20px;
    font-size: 25px;
    width: 100%;
}

.cards p{
    font-family: 'Lobster';
    font-size: 20px;
}

.video{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;  
}

#video{
    display: flex;
    justify-content: flex-start; 
    margin-bottom: 20px;     
    width: 100%;
}

iframe{
    display: flex;
    align-items: center;
    justify-content: center;
    width:250px;
    height: 400px;
    padding-left: 20px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background: rgb(148, 147, 147);
    height: 100px;
}

footer p{
    font-family: 'Roboto';
}

footer img{
    display: flex;
    width: 50px;
    border-radius: 30%;
    margin-bottom: 25px;
}

#link{
    position: absolute;
    margin-right: 150px;
    margin-top: 80px;
    margin-bottom: 20px;
}

#git{
    position: absolute;
    margin-left: 150px;
    margin-top: 80px;
    margin-bottom: 20px;
}

@media (min-width:426px) and (max-width:1920px){
    body{
       max-width: 1920px;
    }

    header{
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    header img{
        width: 400px;
    }

    nav{
        display: inline-flex;
    }

    .button{
        height:50px;
        margin-left: 20px;
        transition: 0.3s;
    }
    
    .button:hover{
        transition: (5.0);
        background-color: rgba(255, 255, 255, 0.5);
        transform: scale(0.9);
        box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.5);
    }

    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .banner img{
        display: flex;
        max-width: 100%;
        width: 100%;
    }

    #about{
        display: block;
        color: black;
        position: relative;
        text-align: center;
        font-weight: bold;
        background-color: aliceblue;
        flex-wrap: wrap;
        border: 3px solid black;
        width: 500px;
        height: 100px;
        bottom: 130px;
        right: 370px;
        padding: 20px;
        border-radius: 20px;
    }

    #about p{
        font-family: 'Lobster';
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    h2{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .cards{       
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 300px; 
        transition: 0.5s;  
    }

    .cards img{
        display: flex;
        height: fit-content;
        width: 300px;
        border-radius: 10px;
        margin-bottom: 2px;
    }

    .cards:hover{
        color: black;
        transform: scale(1.2);
    }

    .cards p{
        display: flex;
        width: fit-content;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .curiosidades{       
        justify-content: center;
        align-items: center;
        display: flex;
        padding-left: 70px;
    }

    iframe{
        display: flex;
        align-items: center;
        justify-content: center;
        width:800px;
        height: 400px;
        max-width: 100%; 
    }
}

@media (min-width:1920px){
    body{
       max-width:3000px;
    }

    header{
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        width: 100%;
    }

    header img{
        width: 600px;
    }

    nav{
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .button{
        height:50px;
        margin-left: 20px;
        transition: 0.3s;
    }
    
    .button:hover{
        background-color: rgba(255, 255, 255, 0.3);
        transform: scale(0.9);
        box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.5);
    }

    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .banner img{
        display: flex;
        max-width: 100%;
        width: 100%;
    }

    #about{
        display: block;
        color: black;
        position: relative;
        text-align: center;
        font-weight: bold;
        background-color: aliceblue;
        flex-wrap: wrap;
        border: 5px solid black;
        width: 500px;
        height: 100px;
        bottom: 150px;
        right: 600px;
        padding: 20px;
        border-radius: 20px;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    h2{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .cards{       
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 500px;  
        transition: .5s; 
    }
    
    .cards:hover{
        color: black;
        transform: scale(1.2);
        box-shadow: 0px 5px 5px white;
    }

    .cards img{
        display: flex;
        height: fit-content;
        width: 500px;
        border-radius: 10px;
        margin-bottom: 2px;
    }

    .cards p{
        display: flex;
        width: fit-content;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .curiosidades{       
        justify-content: center;
        align-items: center;
        display: flex;
        padding-left: 100px;
    }

    iframe{
        display: flex;
        align-items: center;
        justify-content: center;
        width:1600px;
        height: 800px;        
    }
}

@media (min-width:2500px){
    
    .curiosidades{       
        justify-content: center;
        align-items: center;
        display: flex;
        padding-left: 300px;
    }
}